<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">insert into  RESTAURANT(name, type, location, dayoff, representative, grade, evaluation, picture)
values
    (#{name} , #{type} , #{location} , #{dayoff}, #{representative}, #{grade}, #{evaluation},#{picture})
</insert>

    <update id="updateBoard">update RESTAURANT
                             set name=#{name}, type=#{type}, location=#{location}, dayoff=#{dayoff}, representative=#{representative}, grade=#{grade}, evaluation=#{evaluation}, moDate=${moDate}, picture=#{picture} where seq=#{seq}
</update>

    <delete id="deleteBoard">delete from RESTAURANT where seq=#{seq}
</delete>

    <select id="getBoard" resultType="board">select * from RESTAURANT where seq=#{seq}
</select>

    <select id="getBoardList" resultType="board">select * from RESTAURANT order by seq desc
</select>
</mapper>